.introdution_presentation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
    height: 620px;
    background: url(../assets/img/simple-preview-desktop.png) no-repeat right/60%;
}

.getStarted {
    display: flex;
    margin-left: 30px;
    flex-direction: column;
    justify-content: center;
    height: 50%;
}

.getStarted_title {
    width: 45%;
    font-weight: bold;
    margin-bottom: 15px;
    font-size: 2.4em;
}

.getStarted_details {
    font-size: 1.2em;
    margin-bottom: 50px;
}

#getStarted_note {
    color: #9A9C9A;
    font-size: 0.9em;
    margin-bottom: 10px;
}

#btn_getStarted {
    border: none;
    border-radius: 18px;
    padding: 6px 18px;
    font-size: 1.1em;
    cursor: pointer;
    transition: 500ms;
}

#btn_getStarted:hover {
    background-color: #BDBDC3;
}