.section_plans {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 620px;
}

.plans_list {
	display: flex;
}

.plans_card {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	border: 4px solid;
	border-image: linear-gradient(180deg, #000, #4000AE, #000)1;
	width: 300px;
	height: 310px;
}

.plan_infor {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.plans_price {
	font-size: 1.5em;
	font-weight: bold;
	margin: 20px 0 0 15px;
}

#note_About_Price {
	opacity: 70%;
	font-size: 0.9em;
}

.plans_advantages-list {
	margin: 20px 0 0 0;
}

.plan_advantage {
	display: flex;
	align-items: center;
}

.advantage_icon {
	width: 45px;
	margin-right: 10px;
}

.noInclude {
	color: #89898E;
}

#btn_getPlan {
	border: none;
	padding: 8px 20px;
	font-size: 1.4em;
	border-radius: 10px;
	cursor: pointer;
	color: #fff;
	background-color: #1D00A4;
	transition: 500ms;
	width: 50%;
}

#btn_getPlan:hover {
	background-color: #1D0072;
}