.feature_conteiner {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	height: 600px;
	background: url(../assets/img/girl-listening-music-with-headphone.png) no-repeat left/38em;
	background-position: 10% 30%;
}

.features_list {
	width: 550px;
}

.features_card {
	display: flex;
	align-items: center;
	width: 60%;
	margin-bottom: 10px;
}

.features_icons {
	width: 70px;
	margin-right: 20px;
}

.features_name {
	font-size: 1.1em;
}